.Azul {
  color: #b4ffff;
}

.navbar {
  background-color: black;
  width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #b4ffff;
}

.navbar-brand {
  font-size: 28px;
  margin-left: 10px;
  font-weight: bold;
}

.nav-item {
  font-size: 24px;
  justify-content: space-between;
  padding-right: 10px;
  padding: 10px;
}

.navbar-toggler {
  background-color: #16f5f5;
  border: none;
  padding: 10px 10px;
  width: 40px;
}

.menu {
  color: #b4ffff;
}

a {
  font-size: 15px;
  font-weight: 600;
  color: white;
}

a:hover {
  color: #b4ffff;
}

button:hover {
  transform: scale(1.1);
}

.home {
  background-image: url(../img/bluewomen.jpeg);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  overflow: visible;
  position: relative;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 50px;
  z-index: 2;
}

.home-content h2 {
  color: white;
  margin-bottom: 30px;
  font-size: 43px;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.home-content .home-btn.btnr {
  border: none;
  outline: none;
  margin-right: 10px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
  margin-bottom: 10px;
  transition: color 0.9s ease;
}

.btnr:hover {
  color: #b4ffff;
}

.btnl {
  border: 2px solid #b4ffff;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  background-color: transparent;
  color: #16f5f5;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
  margin-bottom: 10px;
  transition: all 0.9s ease;
}

.btnl:hover {
  background-color: white;
  border: 2px solid white;
  color: #206161;
}
