.table {
    border-collapse: collapse;
}
th,
td,
.table thead th,
.table td,
.table th {
    border: 1px solid white;
}
.schedule {
    text-align: center;
    background-color: #5d9ea6;
    padding: 80px 20px;
}

.schedule h2 {
    color: gray;
    font-size: 22px;
    font-weight: bold;
}

.schedule h3 {
    color: white;
    font-size: 44px;
    letter-spacing: -2.5px;
    margin-bottom: 50px;
    font-weight: bold;
}

.table-bordered {
    border: 1px solid white;
}

.table thead th {
    color: white;
    background-color: black;
    width: 110px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

td.b {
    color: white;
    background-color: black;
    width: 110px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

td strong {
    color: white;
}

td span {
    color: white;
}
