@media only screen and (min-width: 320px) and (max-width:425px) {
    .home {
        width: 100vw;
        background-position: center center;
    }
    .carousel {
        display: none;
    }

    .home-Carousel {
        display: flex;
        flex-direction: row;
    }

    .addtion-l {
        justify-content: center;
    }

    .about-cardl {
        margin-top: 25px;
    }

    .table {
        display: flex;
        flex-direction: column;
    }

    .login-form {
        margin-top: 10%;
    }

    .register-form {
        margin-top: 10%;
    }

    .foto {
        display: none;
    }

   
    .contact {

        padding: 0px;
        padding-bottom: 10px;

        .form-group {
        margin: 60px;
        padding: 0px;
        align-items: flex-start;
        width: 60vw;
        }
        label{
            width: 60vw;
        }
        textarea {
        width: 60vw;
    }
}

    .register {
        display: flex;

        .main {
            width: 100vw;
        }

        .login-form {
            margin-top: 40%;
            margin-left: 20%;
            margin-right: 10%;
            align-content: center;
        }
        .form-group {
            width: 50vw;
        }
    }

    .schedule{
        thead {
            margin-left:45px;
        }
        th {
            padding: 10px;
        }

        tr{
            padding: 20px;
        }
    }

}

@media only screen and (min-width: 768px) and (max-width:890){
    .home {
        min-height: 90vh;
        background-position: center center;
        width: 100vw;
    }

    .addtion-l {
        justify-content: center;
    }

    .about-cardl {
        margin-top: 25px;
    }

    .login-form {
        margin-top: 60%;
    }

    .register-form {
        margin-top: 20%;
    }

    .login-main-text {
        p {
            display: none;
        }
    }

    .contact .form-group {
        width: 60vw;
    
        label{
            width: 60vw;
        }
        textarea {
        width: 60vw;
    }
}

    .register {
    
        nav {
            width: 100vw;
        }

        .container-fluid {
            width: 100vw;
        }

        .login-form {
            width: 100%;
            margin-top: 50%;
            align-content: center;
        }
        .form-group {
            width: 40vw;
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1440) {
    .home {
        background-position: center center;
        width: 100vw;
        height: 115vh;
    }

    #intro {
        margin-top: -58.59px;
    }

    .contact .form-control {
        align-content: center;
        width: 50vw;
    }

    .form-group {
        label{
            width: 50vw;
        }
        textarea {
        width: 50vw;
    }
}
.register {
    main {
        width: 100vw;
    }
    .login-form {
        margin-top: 60%;
        margin-left: 40%;
        align-content: center;
    }
}


}



@media only screen and (min-width: 1800px) and (max-width:2800px) {
    .home {
        background-position: center center;
        width: 100vw;
        height: 115vh;
    }

    .register {
        main {
            width: 100vw;
        }
        .login-form {
            margin-top: 60%;
            margin-left: 40%;
            align-content: center;
        }
    }


    .contact {
    
        .form-group {
        margin-left: 120px;
        width: 80%;
        

        label{
            width: 60vw;
        }
        textarea {
        width: 100%;
        transition: all 0.4s;

        textarea:hover {
            width: 110%;
            font-size: 20px;
        }
    }
}
}
}
