.price {
  text-align: center;
  background-color: black;
  padding: 20px;
}

.price .container h2 {
  font-size: 37px;
  text-align: center;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
}

.formatoTexto {
  color: white;
  padding-bottom: 15px;
  font-size: 18px;
}

.price li {
  padding: 8px;
}

.price button {
  background-color: #5d9ea6;
  color: white;
}

.price button:hover {
  transform: scale(1.1);
  color: black;
}
